Django==4.0.6
django-blog-zinnia==0.20
django-bootstrap-form==3.4
django-classy-tags==3.0.1
django-contrib-comments==2.2.0
django-formtools==2.3
django-js-asset==2.0.0
django-mptt==0.13.4
django-object-tools==2.0.0
django-sekizai==3.0.1
django-smart-selects==1.5.9
django-tagging==0.5.0
django-tastypie==0.14.4
django-treebeard==4.5.1
django-xmlrpc==0.1.8
djangocms-admin-style==3.1.1
gunicorn
pytube==15.0.0
mysqlclient