{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="container bg-white p-4 rounded shadow-sm">
        <h1 class="text-center mb-4">YouTube Downloader</h1>
        <form action="/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" id="video_url" name="video_url" class="form-control w-75 mx-auto" placeholder="Ingresa la URL del video" required>
            </div>
            <div class="d-grid w-50 mx-auto">
                <button type="submit" class="btn btn-primary">Descargar</button>
            </div>
        </form>

        {% if video_info %}
        <div class="mt-5">
            <h2>{{ video_info.title }}</h2>
            <p>Canal: {{ video_info.channel_title }}</p>
            <img src="{{ video_info.thumbnail_url }}" alt="Thumbnail">
            <form id="downloadMp4Form" action="/download/mp4/" method="post">
                {% csrf_token %}
                <input type="text" name="video_url" value="{{ video_info.video_url }}">
                <button type="button" id="downloadMp4Button" class="btn btn-success mt-3">Descargar como MP4</button>
            </form>
            <form id="downloadMp3Form" action="/download/mp3/" method="post">
                {% csrf_token %}
                <input type="text" name="video_url" value="{{ video_info.video_url }}">
                <button type="button" id="downloadMp3Button" class="btn btn-success mt-3">Descargar como MP3</button>
            </form>
        </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function (e) {
                e.preventDefault(); // Evita que el formulario se envíe automáticamente
                const videoUrl = this.querySelector('input[name="video_url"]').value;
                console.log("URL que se va a enviar:", videoUrl); // Esto imprimirá la URL en la consola
                // Aquí puedes agregar el código para enviar el formulario vía AJAX si es necesario
                form.submit(); // Esto enviará el formulario después de hacer el debug
            });
        });

        function checkTaskStatus(taskId) {
            $.get(`/task-status/${taskId}/`, function(data) {
                if (data.status === 'SUCCESS') {
                    window.location.href = data.file_url;
                } else if (data.status === 'FAILURE') {
                    alert('Error: ' + data.error);
                } else {
                    setTimeout(function() {
                        checkTaskStatus(taskId);
                    }, 2000);
                }
            });
        }

        $("#downloadMp4Button").click(function() {
    var videoUrl = $("input[name='video_url']").val();
    
    if (!videoUrl) {
        alert("Error: No se proporcionó una URL.");
        return;
    }

    $.post($("#downloadMp4Form").attr('action'), { video_url: videoUrl, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val() }, function(data) {
            if (data.status === "Task started") {
                checkTaskStatus(data.task_id);
            } else {
                alert("Error: " + data.error);
            }
        });
    });

    $("#downloadMp3Button").click(function() {
        var videoUrl = $("input[name='video_url']").val();
        
        if (!videoUrl) {
            alert("Error: No se proporcionó una URL.");
            return;
        }

        $.post($("#downloadMp3Form").attr('action'), { video_url: videoUrl, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val() }, function(data) {
            if (data.status === "Task started") {
                checkTaskStatus(data.task_id);
            } else {
                alert("Error: " + data.error);
            }
        });
    });

    </script>
</body>
</html>
